@using Bakery.Models;

<!DOCTYPE html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/styles.css">
        <title>@Model["vendor"].VendorName's Order Details</title>
    </head>
    <body>
        <div class = "container">

            <h3>@Model["vendor"].VendorName Order Details for @Model["order"].OrderDate</h3>
            <h3>@Model["order"].OrderTitle</h3>
            <h3>@Model["order"].OrderDescription</h3>
            <h3>$@Model["order"].OrderPrice</h3>

            <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a></p>
            <p><a href='/vendors'>View all vendors</a></p>

        </div>
    </body>
</html>